* {
    box-sizing: border-box;
}
.container #header {
    background-color: rgb(226, 124, 40);
    display: flex;
    justify-content: center;

}
.container #header h1 {
    font-size: 40px;
}
.container #header h1 img, span {
    cursor: pointer;
}

#search {
    background-color: gray;
    padding: 20px;
    position: absolute;
    display: none;
    z-index: 2;
    /* margin-top: 10px; */

}
#search label, button {
    font-weight: 700;
}
#search button, input {
    border: 2px solid black;
    border-radius: 5px;
}
#search .myDate {
    margin-left: 2vw;
}
#search img {
    float: right;
    cursor: pointer;
}

.loading {
    margin: 200px 0;
    width: 7rem;
    height: 7rem;
    animation-duration: 1.5s;
}

#returnArt {
    margin-bottom: 40px;
}

#returnArt .myArt {
    padding-top: 10px;
}

@media screen and (max-width: 575px) {
    #search {
        width: 80vw;
        height: auto;
        margin: auto;
        top: 100px; 
        left: 10vw;
        font-size: 12px;
    } 

    #loading {
        top: 240px;
        left: 34vw;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    #search {
        width: 65vw;
        height: auto;
        margin: auto;
        top: 100px; 
        left: 17vw;
    } 

    #loading {
        top: 230px;
        left: 39vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #search {
        width: 70vw;
        height: auto;
        margin: auto;
        top: 100px; 
        left: 14vw;
    } 

    #loading {
        top: 230px;
        left: 41vw;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    #search {
        width: 76vw;
        height: auto;
        margin: auto;
        top: 100px; 
        left: 12vw;
    } 

    #loading {
        top: 200px;
        left: 43vw;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    #search {
        width: 80vw;
        height: auto;
        margin: auto;
        top: 100px; 
        left: 10vw;  
    }

    #loading {
        top: 200px;
        left: 43vw;
    }
    
}
@media screen and (min-width: 1401px) and (max-width: 1500px) {
    #search {
        width: 70vw;
        height: auto;
        margin: auto;
        top: 100px; 
        left: 14vw; 
    }

    #loading {
        top: 200px;
        left: 44vw;
    }
    
}

@media screen and (min-width: 1501px) {
    #search {
        width: 62vw;
        height: auto;
        margin: auto;
        top: 100px; 
        left: 19vw;  
    }

    #loading {
        top: 200px;
        left: 45vw;
    }
    
}